<a href="https://colab.research.google.com/github/ozkanyildirim/Dabbel_Algorithms/blob/main/DABBEL_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. EXERCISE:  MATCH PREDICTIONS TO SENSORS**

> ## i. Importing Libraries

In [1]:
# Pandas Operations
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# Visualisation Operations
import seaborn as sns
import matplotlib.pyplot as plt

# Generating Random Floating Point Values
from numpy.random import seed
import random
from random import randrange

# System Operations
import sys
import os

pd.options.mode.chained_assignment = None

> ## ii. Producing Mock Datasets

In [2]:
def df_generator(columns, index):
  """
  Produces Data Frames for the test cases of the algorithm.
  columns : Sensor Data in List() format
  index : index as datetime object
  returns a Pandas Data Frame 
  """ 

  df = pd.DataFrame({'sensor1': pd.Series(columns[0], dtype='float'),
                     'sensor2': pd.Series(columns[1], dtype='float'),
                     'sensor3': pd.Series(columns[2], dtype='float'),
                     'sensor4': pd.Series(columns[3], dtype='float')})
  df = df.set_index(index)
  return df

>> ### a. Generating Data Frames (Maintained with Task)

In [3]:
index_mini_reading = pd.to_datetime(pd.Series(['2020-12-01 00:00:00'\
                                               , '2020-12-01 00:11:34'\
                                               ,'2020-12-01 00:20:00']))
sensor1_mini_read = [20.0, 20.1, 20.0]
sensor2_mini_read = [19.4, 19.4, 19.4]
sensor3_mini_read = [21.3, 21.2, 21.0]
sensor4_mini_read = [20.5, 20.4, 20.6]
columns = [sensor1_mini_read, sensor2_mini_read, sensor3_mini_read, sensor4_mini_read]

df_read = df_generator(columns=columns, index=index_mini_reading)
df_read

                     sensor1  sensor2  sensor3  sensor4
2020-12-01 00:00:00     20.0     19.4     21.3     20.5
2020-12-01 00:11:34     20.1     19.4     21.2     20.4
2020-12-01 00:20:00     20.0     19.4     21.0     20.6

In [4]:
index_mini_pred = pd.to_datetime(pd.Series(['2020-12-01 00:00:30', '2020-12-01 00:07:24'\
                                            ,'2020-12-01 00:17:15', '2020-12-01 00:19:00'\
                                            ,'2020-12-01 00:21:30']))
sensor1_mini_pred = [np.nan, 20.2, 19.9, 20.0, 20.1]
sensor2_mini_pred = [19.5, np.nan, 19.6, np.nan, np.nan]
sensor3_mini_pred = [21.1, np.nan, np.nan, np.nan, np.nan]
sensor4_mini_pred = [20.3, 20.2, 20.4, np.nan, 20.5]
columns_pred = [sensor1_mini_pred, sensor2_mini_pred, sensor3_mini_pred, sensor4_mini_pred]

df_pred = df_generator(columns=columns_pred, index=index_mini_pred)
df_pred

                     sensor1  sensor2  sensor3  sensor4
2020-12-01 00:00:30      NaN     19.5     21.1     20.3
2020-12-01 00:07:24     20.2      NaN      NaN     20.2
2020-12-01 00:17:15     19.9     19.6      NaN     20.4
2020-12-01 00:19:00     20.0      NaN      NaN      NaN
2020-12-01 00:21:30     20.1      NaN      NaN     20.5

>> ### b. Generating Relatively Large Mock Datasets (For Checking Scaling Effects on Algorith)

In [5]:
def mock_df_generator(row=3000, sensor=500, null_count=500):
  # Sensor1-Sensor500 sensor names
  sensor_list = [f'Sensor{str(i)}' for i in range(1,sensor+1)]

  # Random temprature values from normal distribution with mean 25, variance 3
  temps = np.random.normal(25, 3, size=(row, sensor))

  # Random datetime 
  def random_date(start,l):
    current = start
    while l >= 0:
      current = current + timedelta(days=randrange(30), hours=randrange(10), minutes=randrange(40), seconds=randrange(30))
      yield current
      l-=1

  startDate = datetime(2021, 6, 20,13,00,00)
  index_long = pd.to_datetime([x.strftime("%d/%m/%y %H:%M:%S") for x in reversed(list(random_date(startDate,row-1)))])

  # Wrap up to generate a DataFrame
  df_mock = pd.DataFrame(data=temps, index=index_long, columns=sensor_list, dtype=float).round(decimals=2)

  # Add random Null values
  for col in df_mock.columns:
    null_add = df_mock[col].sample(null_count).index
    df_mock.loc[null_add,col] = np.nan
  
  return df_mock

In [6]:
df_mock_read = mock_df_generator(row=3000, sensor=500, null_count=500)
df_mock_pred = mock_df_generator(row=15000, sensor=500, null_count=2000)

In [7]:
df_mock_read.sample(5)

                     Sensor1  Sensor2  Sensor3  ...  Sensor498  Sensor499  Sensor500
1980-08-18 02:30:23    26.81    22.68    16.67  ...      23.60      29.35      27.52
2021-08-02 04:55:24    23.85    23.44    26.10  ...      25.47        NaN        NaN
2055-06-13 00:34:02    30.78    25.62    22.55  ...      26.04      30.27      21.51
2003-10-19 08:19:07    28.89    25.41      NaN  ...      26.83      23.69        NaN
2063-11-25 15:23:45    26.32    26.48    22.15  ...      31.42      22.90      28.29

[5 rows x 500 columns]

In [8]:
df_mock_pred.sample(5)

                     Sensor1  Sensor2  Sensor3  ...  Sensor498  Sensor499  Sensor500
2017-03-01 06:49:29      NaN    31.03    25.99  ...      24.77      21.64      26.39
2008-10-24 01:07:08      NaN    23.28    25.57  ...      24.95      27.98      24.66
2060-09-03 10:36:16    21.08    26.30      NaN  ...        NaN      24.58      27.26
1974-12-22 05:22:48      NaN    29.36    27.72  ...      28.48      27.19      23.40
2005-11-02 05:26:05      NaN    24.93    28.28  ...      24.55      24.95      23.53

[5 rows x 500 columns]

> ## iii. Designing an Algorithm

>> ### a. Step-1: Concatenate Read and Predict DataFrames

In [9]:
def read_pred_merger(df_read, df_pred):
  """
  Steps will be explained in interview.
  """
  df_read['type'] = 1.0
  df_pred['type'] = 0.0
  df_concat = pd.concat([df_read, df_pred]).sort_index()
  df_concat['time_diff'] = list(pd.Series(df_concat.index).diff())
  df_concat.fillna('nan', inplace=True)
  return df_concat

>> ### b. Step-2: Producing Sensor DataFrames with Check Points

In [10]:
def sensor_df_generator(sensor, df):
  """
  Steps will be explained in interview.
  """
  df_s1 = df[[sensor, 'type', 'time_diff']]
  df_s1 = df_s1.loc[df_s1[sensor]!='nan']
  df_s1['delta_previous'] = df_s1['type'].diff()
  df_s1['delta_forward'] = df_s1['type'].diff(periods=-1)
  df_s1['date_of_action'] = list(df_s1.index)
  df_s1['forward_diff'] = df_s1.time_diff.shift(-1)
  df_s1['forward_diff_2'] = df_s1.time_diff.shift(-2)
  df_s1['rear_diff'] = df_s1.time_diff.shift(1)
  df_s1['rear_diff_2'] = df_s1.time_diff.shift(2)
  df_s1['forward_sensor'] = df_s1[sensor].shift(-1)
  df_s1['rear_sensor'] = df_s1[sensor].shift(1)
  df_s1['forward_date'] = df_s1['date_of_action'].shift(-1)
  df_s1['rear_date'] = df_s1['date_of_action'].shift(1)
  df_s1.fillna('nan', inplace=True)

  return df_s1

>> ### c. Step-3: Applying logic to obtain convenient prediction and read matches

In [11]:
def ultimate_distiller_temp(x):
  """
  Steps will be explained in interview.
  """
  result=[]
  if (x['time_diff']=='nan') & (x['rear_diff']=='nan'):
    result = 'check next'
  elif (x['time_diff']!='nan') & (x['rear_diff']=='nan'):
    result = x['forward_sensor'] if x['time_diff'] > x['forward_diff'] else x['rear_sensor']
  elif x['forward_diff']=='nan':
    result = x['rear_sensor'] if x['time_diff'] > x['rear_diff'] else 'nan'
  elif (x['time_diff']!='nan') & (x['rear_diff']!='nan'):
    if (x['delta_previous']==-1) & (x['delta_forward']==-1) & (x['forward_diff']!='nan'):
      result = x['rear_sensor'] if x['forward_diff'] > x['rear_diff'] else x['forward_sensor']
    elif (x['delta_previous']==0) & (x['delta_forward']==-1):
      result = x['forward_sensor']
    elif (x['delta_previous']==-1) & (x['delta_forward']==0):
      result = x['rear_sensor']  
    elif (x['delta_previous']==1) & (x['delta_forward']==1):
      result = x['rear_sensor'] if x['forward_diff'] > x['rear_diff'] else x['forward_sensor']
    elif (x['delta_previous']==0) & (x['delta_forward']==1):
      result = x['forward_sensor']
    elif (x['delta_previous']==1) & (x['delta_forward']==0):
      result = x['rear_sensor'] 
  return result

In [12]:
def ultimate_distiller_date(x):
  """
  Steps will be explained in interview.
  """
  result=[]
  if (x['time_diff']=='nan') & (x['rear_diff']=='nan'):
    result = 'check next'
  elif (x['time_diff']!='nan') & (x['rear_diff']=='nan'):
    result = x['forward_date'] if x['time_diff'] > x['forward_diff'] else x['rear_date']
  elif x['forward_diff']=='nan':
    result = x['rear_date'] if x['time_diff'] > x['rear_diff'] else 'nan'
  elif (x['time_diff']!='nan') & (x['rear_diff']!='nan'):
    if (x['delta_previous']==-1) & (x['delta_forward']==-1) & (x['forward_diff']!='nan'):
      result = x['rear_date'] if x['forward_diff'] > x['rear_diff'] else x['forward_date']
    elif (x['delta_previous']==0) & (x['delta_forward']==-1):
      result = x['forward_date']
    elif (x['delta_previous']==-1) & (x['delta_forward']==0):
      result = x['rear_date']  
    elif (x['delta_previous']==1) & (x['delta_forward']==1):
      result = x['rear_date'] if x['forward_diff'] > x['rear_diff'] else x['forward_date']
    elif (x['delta_previous']==0) & (x['delta_forward']==1):
      result = x['forward_date']
    elif (x['delta_previous']==1) & (x['delta_forward']==0):
      result = x['rear_date']
    elif (x['delta_previous']==0) & (x['delta_forward']==0):
      result = 'skipped' 
  return result

In [13]:
def df_finalizer(df,sensor):
  """
  Steps will be explained in interview.
  """
  df['Date_index'] = df.apply(ultimate_distiller_date, axis=1)
  df['Temperature'] = df.apply(ultimate_distiller_temp, axis=1)
  df = df.loc[df['type']==0.0][['Temperature', sensor,	'Date_index', 'date_of_action']]
  
  #df['diff_act_assg'] = abs(pd.to_datetime(df['Date_index']) - df['date_of_action'])
  #df_finalized = df.groupby(by=['Date_index','Temperature'], as_index=False).min('diff_act_assg')

  df['diff_act_assg'] =abs(pd.to_datetime(df['Date_index']) - df['date_of_action'])
  df_finalized = df[df['diff_act_assg'].isin(df.groupby(by=['Date_index','Temperature']).min()['diff_act_assg'].values)]

  df_finalized['Sensor']=sensor
  df_finalized['Prediction']=df_finalized[sensor]

  return df_finalized

In [14]:
def implement_algorithm(df_reading, df_prediction):
  """
  Steps will be explained in interview.
  """
  sensor_list = df_reading.columns
  df_concat = read_pred_merger(df_reading, df_prediction)
  df_lst = []
  for sens in ['sensor1']:
    df_s = sensor_df_generator(sensor=sens, df=df_concat)
    df_s_finalized = df_finalizer(df_s,sens)
    df_lst.append(df_s_finalized)
  df_ultimate = pd.concat(df_lst, ignore_index=True)
  df_ultimate = df_ultimate.set_index('Date_index')
  df_ultimate = df_ultimate[['Sensor','Temperature','Prediction']]
  return df_ultimate

>> ### d. Step-4: Implementing Algorithm

In [15]:
def implement_algorithm(df_reading, df_prediction):
  """
  Steps will be explained in interview.
  """
  sensor_list = df_reading.columns
  df_concat = read_pred_merger(df_reading, df_prediction)
  df_lst = []
  for sens in sensor_list:
    df_s = sensor_df_generator(sensor=sens, df=df_concat)
    df_s_finalized = df_finalizer(df_s,sens)
    df_lst.append(df_s_finalized)
  df_ultimate = pd.concat(df_lst, ignore_index=True)
  df_ultimate = df_ultimate.set_index('Date_index')
  df_ultimate = df_ultimate[['Sensor','Temperature','Prediction']]
  return df_ultimate

>>> ### - Implementing Algorithm to Given Datasets

In [16]:
implement_algorithm(df_reading=df_read, df_prediction=df_pred)

                      Sensor Temperature  Prediction
Date_index
2020-12-01 00:11:34  sensor1        20.1        20.2
2020-12-01 00:20:00  sensor1          20        20.0
2020-12-01 00:00:00  sensor2        19.4        19.5
2020-12-01 00:20:00  sensor2        19.4        19.6
2020-12-01 00:00:00  sensor3        21.3        21.1
2020-12-01 00:00:00  sensor4        20.5        20.3
2020-12-01 00:11:34  sensor4        20.4        20.2
2020-12-01 00:20:00  sensor4        20.6        20.5

>>> ### - Implementing Algorithm to Large Datasets

In [ ]:
implement_algorithm(df_reading=df_mock_read, df_prediction=df_mock_pred)

# **2. EXERCISE: WRONG ENCODING**

> ## i. Reading JSON

In [119]:
dabbel = pd.read_json('2000.json')
dabbel.head()

                          destination_address  ...                                            objects
Vendor Proprietary Value                   -1  ...  [{'object_instance': 1, 'properties': {'active...
analog-input                               -1  ...  [{'object_instance': 1, 'properties': {'active...
analog-output                              -1  ...  [{'object_instance': 1, 'properties': {'active...
analog-value                               -1  ...  [{'object_instance': 1, 'properties': {'active...
binary-input                               -1  ...  [{'object_instance': 1, 'properties': {'active...

[5 rows x 5 columns]

In [86]:
dabbel.shape

(12, 5)

> ## ii. Designing Text Cleaner

In [75]:
def text_cleaner(df, col):
  """
  Steps will be explained in interview.
  """
  df_mini = df[col].str.strip('\"')
  df_mini = df_mini.str.split('\.([a-zA-Z0-9])').str.join('')
  df_mini = df_mini.str.split('([a-zA-Z0-9])\.').str.join('')
  df_mini = df_mini.str.split('\.(\.)\.').str.join('')
  return df_mini

In [ ]:
test_df = pd.DataFrame(["\".H.E.I.Z.G.R.U.P.P.E\"", "\".T.E.M.P.E.R.A.T.U.R.E...1.F...2.2.5\"",\
                        ".H.E.I.Z.G.R.U.P.P.E", "H.E.I.Z.G.R.U.P.P.E.", \
                        "\"This text is using \"quotes\".\"", "T.h.i.s. is a special test case",\
                        "................", "", "\"\""])

In [123]:
text_cleaner(test_df,0)

0                      HEIZGRUPPE
1              TEMPERATURE.1F.225
2                      HEIZGRUPPE
3                      HEIZGRUPPE
4    This text is using "quotes".
5     This is a special test case
6                          ......
7
8
Name: 0, dtype: object

> ## iii. Cleaning JSON DataFrame

In [120]:
df_list=[]
cnt=0
for i in range(dabbel.shape[0]):
  for j in range(pd.DataFrame(dabbel.objects[i]).shape[0]):
    df_temp = pd.DataFrame(dabbel.objects[i][j])[['properties']]
    df_list.append(text_cleaner(df=df_temp, col='properties'))
    dabbel.objects[i][j] = dict(df_list[cnt])
    cnt +=1
df_list[0]

active-text                                 NaN
cov-increment                               NaN
description
inactive-text                               NaN
number-of-states                            NaN
object-identifier    Vendor Proprietary Value:1
object-name                          HEIZGRUPPE
object-type                                 NaN
out-of-service                              NaN
present-value                               NaN
priority-array                              NaN
resolution                                  NaN
state-text                                  NaN
status-flags                                NaN
units                                       NaN
Name: properties, dtype: object

> ## iv. Dumping JSON

In [148]:
import json
dabbel_json = dabbel.to_json(orient="index")
dabbel_json[0:500]

'{"Vendor Proprietary Value":{"destination_address":-1,"destination_network":-1,"device_instance":2000,"ip_address":"172.17.2.27","objects":[{"active-text":null,"cov-increment":null,"description":"","inactive-text":null,"number-of-states":null,"object-identifier":"Vendor Proprietary Value:1","object-name":"HEIZGRUPPE","object-type":null,"out-of-service":null,"present-value":null,"priority-array":null,"resolution":null,"state-text":null,"status-flags":null,"units":null},{"active-text":null,"cov-in'

In [149]:
parsed = json.loads(dabbel_json)
json.dumps(parsed, indent=4)[0:500]

'{\n    "Vendor Proprietary Value": {\n        "destination_address": -1,\n        "destination_network": -1,\n        "device_instance": 2000,\n        "ip_address": "172.17.2.27",\n        "objects": [\n            {\n                "active-text": null,\n                "cov-increment": null,\n                "description": "",\n                "inactive-text": null,\n                "number-of-states": null,\n                "object-identifier": "Vendor Proprietary Value:1",\n                "object-name":'